# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*/.DS_Store
.DS_Store

# Distribution / packaging
.Python
bin/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
include/
lib/
lib64/
parts/
sdist/
var/

pip-selfcheck.json