<nav class="navbar navbar-expand-md bg-light navbar-light" style="padding:0 0 0 9px;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin.admin_homepage') }}">
                    HOME
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin.manage_calendars') }}">
                    EXECECUTIVES
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin.manage_calendars') }}">
                    EXECECUTIVE'S CALENDARS
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    MEETING REQUESTS
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    WAITLISTS
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    MEETING HISTORY
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin.logout') }}">
                    LOGOUT
                </a>
            </li>
        </ul>
</nav>
