{% extends "index.html" %}
{% block title %}Admin LogIn | {{ super() }}{% endblock %}
{% block current_page %}Admin LogIn{% endblock %}

{% block content %}
    <div class="col">
        <form action="" method='POST'>
            {{ form.csrf_token }}
            <div class="form-group row">
                {{ form.email.label(class="col-lg-2") }}
                {{ form.email(class="col-lg-4") }}
            </div>
            <div class="form-group row">
                {{ form.password.label(class="col-lg-2") }}
                {{ form.password(class="col-lg-4") }}
            </div>

            <br>
            <div class="form-group row">
                <div class="col-lg-2">
                    <a href="{{ url_for('admin.admin_login') }}" class="nodecor-button"><button class="btn-outline-cbs btn btn-block outline" type="submit">Sign In</button></a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
