{% extends "admin_index.html" %}
{% block title %}Admin Calendars | {{ super() }}{% endblock %}

{% block content %}
	<div>
		<button type="button" class="btn-outline-cbs btn outline"><a class="nodecor-button" href="{{ url_for('admin.create_meeting_v1') }}">Create New Meeting (V1)</a></button>
		<br><br>
		<button type="button" class="btn-outline-cbs btn outline"><a class="nodecor-button" href="{{ url_for('admin.create_meeting_v2') }}">Create New Meeting (V2)</a></button>
<!-- 		<br><br>
		<button type="button" class="btn-outline-cbs btn outline"><a class="nodecor-button" href="#">Publish Executives' Schedules</a></button> -->
	</div>
	<br><br>
	<div>
		<div>
			<!-- <h5>Meetings</h5> -->
		</div>
	</div>
{% endblock %}