{% extends "student_index.html" %}
{% block title %}Student Home | {{ super() }}{% endblock %}

{% block content %}
    <button type="button" class="btn-outline-cbs btn outline"><a class="nodecor-button" href="{{ url_for('students.student_profile') }}">View Profile</a></button>
    <br><br>
    <button type="button" class="btn btn-outline-cbs outline">Request Appointment</button>
    <br><br>
    <button type="button" class="btn btn-outline-cbs outline">Confirm Appointment</button>
{% endblock %}