{% extends "admin_index.html" %}
{% block title %}Verification Mock Login| {{ super() }}{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
  <form method=post>
<!--   <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
  </dl> -->

	<div class="form-group col-lg-12">
	    {{ form.username.label(class="col-lg-2", style="padding:0;") }}
	    {{ form.username(class="col-lg-4") }}
	</div>
	<div class="form-group col-lg-12">
	    {{ form.password.label(class="col-lg-2", style="padding:0;") }}
	    {{ form.password(class="col-lg-4", type="password") }}
	</div>
	<br>


  	<div class="col-lg-2">
  		<button class="btn-outline-cbs btn btn-block outline" type="submit">Sign In</button></a>
  	</div>
  </form>

{% endblock %}